* ::before ::after {
   box-sizing: border-box;
   margin: 0;
   padding: o;
}

:root {
   --color1: #020008;
   --color2: #2c394c;
   --color3: #63dafc;
   --color4: #1d719d;
   --color5: #908388;
   --color6: #583f31;
}

body {
   background: var(--color1);
   color: var(--color3);
}

a {
   text-decoration: none;
}

.wrapper {
   display: flex;
}

.work-place {
   width: 70vw;
   height: calc(80vh + 4px);
   border: 2px solid var(--color4);
   display: flex;
   justify-content: center;
   margin-bottom: 8px;
}

.input-wrapper{
   position: relative;
   overflow: hidden;
}

#croper {
   position: absolute;
   width: 300px;
   height: 300px;
   border: 2px solid var(--color3);
}

#input-image {
   height: 80vh;
}

#upload {
   display: none;
}

.btn-container {
   display: flex;
   gap: 8px;
}

.btn-style {
   background: var(--color4);
   color: var(--color1);
   font-size: 1rem;
   border: none;
   padding: 4px 8px;
   font-weight: bold;
}

.btn-style:hover {
   background: var(--color2);
   color: var(--color4);
}

#preview-container {
   display: flex;
   justify-content: center;
   width: 300px;
   height: 300px;
   border: 2px solid var(--color4);
   margin-bottom: 8px;
}

#output-image {
   height: 300px;
   width: 300px;
}

#output-wrapper {
   margin-left: 8px;
}

.flex{
   display: flex;
}
